@import "form.css";
@import "littleCat.css";
@import "panes.css";

:root {
  --space-root: 1rem;
  --space-xs: calc(var(--space-root) / 2);
  --space-s: calc(var(--space-root) / 1.5);
  --space-m: var(--space-root);
  --space-l: calc(var(--space-root) * 1.5);
  --space-xl: calc(var(--space-root) * 2);
  --color-primary: mediumslateblue;
  --color-secondary: black;
  --color-tertiary: #222;
  --color-contrast: #eee;
  --base-border-radius: 0.25rem;
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --duration: 350ms;
  --font-family: "Roboto", sans-serif;
  --font-size: 1.2rem;
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  margin: 0;
  padding: 0;
  height: 95vh;
  place-items: center;
  text-align: center;
  color: var(--color-contrast);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.2;
  background-color: var(--color-tertiary);
}

header {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: calc(var(--font-size) * 1.5);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
  font-family: -apple-system, var(--font-family);
  font-size: calc(var(--font-size) * 1.2);
  font-weight: bold;
}
a:hover {
  color: var(--color-contrast);
}
a:hover + .arrow {
  opacity: 1;
  transform: none;
}
.arrow {
  display: inline-block;
  opacity: 0;
  margin-left: 0.125rem;
  transform: translateX(-0.375rem);
  transition: all 250ms ease-out;
}
a:focus {
  color: var(--color-secondary);
}

/* -------- Buttons -------- */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button {
  -webkit-appearance: button;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  color: #ccc;
  background-color: #333;
  padding: var(--space-s) var(--space-m);
  border-radius: var(--base-border-radius);
  font-size: calc(var(--font-size) / 1.25);
}
.btn:hover {
  color: #333;
  background-color: #ccc;
}
.btn--primary {
  padding: var(--space-m) var(--space-l);
  border: 2px solid transparent;
  border-radius: var(--base-border-radius);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-contrast);
  font-size: calc(var(--font-size) / 1.65);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.065rem;
}
.btn--primary:hover {
  background-color: var(--color-contrast);
  border-color: var(--color-contrast);
  color: var(--color-primary);
}
.btn--primary:focus {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn--secondary {
  border: 2px solid transparent;
  border-radius: var(--base-border-radius);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-contrast);
}
.btn--secondary:hover {
  background-color: var(--color-contrast);
  border-color: var(--color-contrast);
  color: var(--color-secondary);
}
.btn--secondary:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
