doctype html
html(lang="en-US")
  head
    include includes/head.pug
    link(rel="shortcut icon", href="./img/noauth.ico", type="image/x-icon")
    link(rel='stylesheet', type="text/css", href='./css/style.css')

  body
    h1 Node Auth Server
    if lastLogin
      p#last-login(style="color:red") Last login was fail
    if lastRegister
      p#last-register(style="color:red") Last register was fail
    .pane-wrapper
      if showLogin
        .pane.login
          p تَسْجيل دُخولٍ
          form#formLogin(action='/login' method='post')
            .input-wrapper
              label(for='username') اسْم مُسْتَخْدِمٍ :
              .input-group
                span.icon
                  svg(viewbox='0 0 24 24')
                    path(d='M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z')
                input#username(type='text' name='username' required onkeyup='return forceLower(this);' placeholder='esteban')
                //- Script to force lower case input
                script const forceLower = (strInput) => strInput.value=strInput.value.toLowerCase();
                style #username {text-transform:lowercase;}
                br
            .input-wrapper
              label(for='log-password') كَلِمة سِرٍّ :
                |  
                span#log-caps-message.caps-message
              .input-group
                span.icon
                  svg(viewbox='0 0 24 24')
                    path(d='M11.83,1.73C8.43,1.79 6.23,3.32 6.23,3.32C5.95,3.5 5.88,3.91 6.07,4.19C6.27,4.5 6.66,4.55 6.96,4.34C6.96,4.34 11.27,1.15 17.46,4.38C17.75,4.55 18.14,4.45 18.31,4.15C18.5,3.85 18.37,3.47 18.03,3.28C16.36,2.4 14.78,1.96 13.36,1.8C12.83,1.74 12.32,1.72 11.83,1.73M12.22,4.34C6.26,4.26 3.41,9.05 3.41,9.05C3.22,9.34 3.3,9.72 3.58,9.91C3.87,10.1 4.26,10 4.5,9.68C4.5,9.68 6.92,5.5 12.2,5.59C17.5,5.66 19.82,9.65 19.82,9.65C20,9.94 20.38,10.04 20.68,9.87C21,9.69 21.07,9.31 20.9,9C20.9,9 18.15,4.42 12.22,4.34M11.5,6.82C9.82,6.94 8.21,7.55 7,8.56C4.62,10.53 3.1,14.14 4.77,19C4.88,19.33 5.24,19.5 5.57,19.39C5.89,19.28 6.07,18.92 5.95,18.6V18.6C4.41,14.13 5.78,11.2 7.8,9.5C9.77,7.89 13.25,7.5 15.84,9.1C17.11,9.9 18.1,11.28 18.6,12.64C19.11,14 19.08,15.32 18.67,15.94C18.25,16.59 17.4,16.83 16.65,16.64C15.9,16.45 15.29,15.91 15.26,14.77C15.23,13.06 13.89,12 12.5,11.84C11.16,11.68 9.61,12.4 9.21,14C8.45,16.92 10.36,21.07 14.78,22.45C15.11,22.55 15.46,22.37 15.57,22.04C15.67,21.71 15.5,21.35 15.15,21.25C11.32,20.06 9.87,16.43 10.42,14.29C10.66,13.33 11.5,13 12.38,13.08C13.25,13.18 14,13.7 14,14.79C14.05,16.43 15.12,17.54 16.34,17.85C17.56,18.16 18.97,17.77 19.72,16.62C20.5,15.45 20.37,13.8 19.78,12.21C19.18,10.61 18.07,9.03 16.5,8.04C14.96,7.08 13.19,6.7 11.5,6.82M11.86,9.25V9.26C10.08,9.32 8.3,10.24 7.28,12.18C5.96,14.67 6.56,17.21 7.44,19.04C8.33,20.88 9.54,22.1 9.54,22.1C9.78,22.35 10.17,22.35 10.42,22.11C10.67,21.87 10.67,21.5 10.43,21.23C10.43,21.23 9.36,20.13 8.57,18.5C7.78,16.87 7.3,14.81 8.38,12.77C9.5,10.67 11.5,10.16 13.26,10.67C15.04,11.19 16.53,12.74 16.5,15.03C16.46,15.38 16.71,15.68 17.06,15.7C17.4,15.73 17.7,15.47 17.73,15.06C17.79,12.2 15.87,10.13 13.61,9.47C13.04,9.31 12.45,9.23 11.86,9.25M12.08,14.25C11.73,14.26 11.46,14.55 11.47,14.89C11.47,14.89 11.5,16.37 12.31,17.8C13.15,19.23 14.93,20.59 18.03,20.3C18.37,20.28 18.64,20 18.62,19.64C18.6,19.29 18.3,19.03 17.91,19.06C15.19,19.31 14.04,18.28 13.39,17.17C12.74,16.07 12.72,14.88 12.72,14.88C12.72,14.53 12.44,14.25 12.08,14.25Z')
                input#log-password.password-field(type='password' name='password' required)
                span.icon.icon-show
                  svg(viewbox='0 0 512 512')#icon-show-login
                    path.path-hide(display="none" d='M316.332,195.662c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.16-4.16,10.944,0,15.083 c12.075,12.075,18.752,28.139,18.752,45.248c0,35.285-28.715,64-64,64c-17.109,0-33.173-6.656-45.248-18.752 c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.139-4.16,10.923,0,15.083c16.085,16.128,37.525,25.003,60.331,25.003 c47.061,0,85.333-38.272,85.333-85.333C341.334,233.187,332.46,211.747,316.332,195.662z M270.87,172.131c-4.843-0.853-9.792-1.472-14.869-1.472c-47.061,0-85.333,38.272-85.333,85.333 c0,5.077,0.619,10.027,1.493,14.869c0.917,5.163,5.419,8.811,10.475,8.811c0.619,0,1.237-0.043,1.877-0.171 c5.781-1.024,9.664-6.571,8.64-12.352c-0.661-3.627-1.152-7.317-1.152-11.157c0-35.285,28.715-64,64-64 c3.84,0,7.531,0.491,11.157,1.131c5.675,1.152,11.328-2.859,12.352-8.64C280.534,178.702,276.652,173.155,270.87,172.131z M509.462,249.102c-2.411-2.859-60.117-70.208-139.712-111.445c-5.163-2.709-11.669-0.661-14.379,4.587 c-2.709,5.227-0.661,11.669,4.587,14.379c61.312,31.744,110.293,81.28,127.04,99.371c-25.429,27.541-125.504,128-230.997,128 c-35.797,0-71.872-8.64-107.264-25.707c-5.248-2.581-11.669-0.341-14.229,4.971c-2.581,5.291-0.341,11.669,4.971,14.229 c38.293,18.496,77.504,27.84,116.523,27.84c131.435,0,248.555-136.619,253.483-142.443 C512.854,258.915,512.833,253.091,509.462,249.102z M325.996,118.947c-24.277-8.171-47.829-12.288-69.995-12.288c-131.435,0-248.555,136.619-253.483,142.443 c-3.115,3.669-3.371,9.003-0.597,12.992c1.472,2.112,36.736,52.181,97.856,92.779c1.813,1.216,3.84,1.792,5.888,1.792 c3.435,0,6.827-1.664,8.875-4.8c3.264-4.885,1.92-11.52-2.987-14.763c-44.885-29.845-75.605-65.877-87.104-80.533 c24.555-26.667,125.291-128.576,231.552-128.576c19.861,0,41.131,3.755,63.189,11.157c5.589,2.005,11.648-1.088,13.504-6.699 C334.572,126.862,331.585,120.825,325.996,118.947z M444.865,67.128c-4.16-4.16-10.923-4.16-15.083,0L67.116,429.795c-4.16,4.16-4.16,10.923,0,15.083 c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.115L444.865,82.211 C449.025,78.051,449.025,71.288,444.865,67.128z')
                    path.path-show(display="block" d='M510.096,249.937c-4.032-5.867-100.928-143.275-254.101-143.275C124.56,106.662,7.44,243.281,2.512,249.105 c-3.349,3.968-3.349,9.792,0,13.781C7.44,268.71,124.56,405.329,255.995,405.329S504.549,268.71,509.477,262.886 C512.571,259.217,512.848,253.905,510.096,249.937z M255.995,383.996c-105.365,0-205.547-100.48-230.997-128 c25.408-27.541,125.483-128,230.997-128c123.285,0,210.304,100.331,231.552,127.424 C463.013,282.065,362.256,383.996,255.995,383.996z M255.995,170.662c-47.061,0-85.333,38.272-85.333,85.333s38.272,85.333,85.333,85.333s85.333-38.272,85.333-85.333 S303.056,170.662,255.995,170.662z M255.995,319.996c-35.285,0-64-28.715-64-64s28.715-64,64-64s64,28.715,64,64 S291.28,319.996,255.995,319.996z')
                br
            br
            input.btn.btn--primary(type='submit' value='تَسْجيل دُخولٍ')
            br
            a#forgot-password(href='./forgot') Forgot password?
    
      if showRegistration
        .pane.register
          p اسْتِئْمارة اشْتِراكٍ
          form#formRegister(action='/register', method='post')
            .input-wrapper
              label(for='reg-email') البريد الإلكتروني :
              .input-group
                span.icon
                  svg(viewbox='0 0 20 20')
                    path(d='M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z' stroke-width='4')
                input#reg-email(type='email' name='email' required placeholder='some@example.com' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$' title='It must be something like your.contact-info@domain.com')
                br
            .input-wrapper
              label(for='reg-name') اسم :
              .input-group
                span.icon
                  svg(viewbox='0 0 512 512')
                    path(d='m326 232h-140c-8.284 0-15 6.716-15 15s6.716 15 15 15h140c8.284 0 15-6.716 15-15s-6.716-15-15-15z')
                    path(d='m326 292h-140c-8.284 0-15 6.716-15 15s6.716 15 15 15h140c8.284 0 15-6.716 15-15s-6.716-15-15-15z')
                    path(d='m326 352h-140c-8.284 0-15 6.716-15 15s6.716 15 15 15h140c8.284 0 15-6.716 15-15s-6.716-15-15-15z')
                    path(d='m332.794 60.998 25.599-37.546c4.667-6.845 2.901-16.177-3.943-20.844-6.846-4.667-16.178-2.901-20.844 3.943l-29.127 42.72c-15.335-4.722-31.615-7.271-48.479-7.271s-33.143 2.549-48.479 7.271l-29.128-42.72c-4.667-6.844-13.997-8.61-20.844-3.943-6.845 4.667-8.61 13.999-3.943 20.844l25.6 37.546c-52.404 27.675-88.206 82.731-88.206 146.002v140c0 90.981 74.019 165 165 165s165-74.019 165-165v-140c0-63.27-35.802-118.327-88.206-146.002zm58.206 286.002c0 74.439-60.561 135-135 135s-135-60.561-135-135v-140c0-74.439 60.561-135 135-135 10.52 0 20.763 1.211 30.597 3.499l-19.09 27.999c-3.675-.974-7.53-1.498-11.507-1.498-24.813 0-45 20.187-45 45s20.187 45 45 45 45-20.187 45-45c0-9.937-3.244-19.128-8.719-26.581l23.485-34.445c44.539 22.084 75.234 68.034 75.234 121.026zm-120-200c0 8.271-6.729 15-15 15s-15-6.729-15-15 6.729-15 15-15 15 6.728 15 15z')
                input#reg-name(type='text' name='name' required placeholder='esteban')
                br
            .input-wrapper
              label(for='reg-username') اسم المستخدم :
              .input-group
                span.icon
                  svg(viewbox='0 0 24 24')
                    path(d='M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z')
                input#reg-username(type='text' name='username' required onkeyup='return forceLowerC(this);' placeholder='estebmaister')
                //- Script to force lower case input
                script const forceLowerC = (strInput) => strInput.value=strInput.value.toLowerCase();
                style #reg-username {text-transform:lowercase;}
                br
            .input-wrapper
              label(for='reg-password') كلمه السر : #[span#reg-caps-message.caps-message]
              .input-group
                span.icon
                  svg(viewbox='0 0 471 471')
                    path(d='M360.8,200.6v-74.7c0.2-33.8-13.3-66.3-37.4-90C300.1,12.7,269.6,0,237.3,0c-0.5,0-1.1,0-1.6,0 c-68.9,0.1-124.9,56.5-124.9,125.9v74.7c-26,3.1-45,24.9-45,51.3v167.8c0,28.5,22.8,52,51.3,52h237.5c28.5,0,51.3-23.5,51.3-52 V251.9C405.8,225.6,386.8,203.7,360.8,200.6z M130.7,125.9h0.1c0-58.4,47.1-106.2,105-106.2h0.1c27.5-0.1,53.9,10.8,73.4,30.2 c20.3,20.1,31.6,47.5,31.4,76v74.8h-22v-74.8c0.2-22.7-8.8-44.5-24.9-60.5c-15.2-15.2-35.8-23.8-57.3-23.8h-0.6 c-46,0-83.2,37.8-83.2,84.2v74.9h-22V125.9z M298.8,125.9v74.8h-126v-74.8c0-35.4,28.2-64.2,63.2-64.2h0.6 c16.2,0,31.8,6.5,43.3,18C292.1,91.9,299,108.6,298.8,125.9z M386.8,420L386.8,420c0,17.5-14.2,31.7-31.7,31.7H117.5 c-17.5,0-31.7-14.2-31.7-31.7V252.4c0-17.5,14.2-31.7,31.7-31.7h237.6c17.5,0,31.7,14.2,31.7,31.7V420z')
                    path(d='M270.4,330c-4.4-15.5-18.5-26.1-34.6-26.1c-19.9,0-36.1,16.1-36.1,36.1c0,16.1,10.6,30.2,26.1,34.6v28c0,5.5,4.5,10,10,10 s10-4.5,10-10v-28C264.9,369.1,276,349.1,270.4,330z M235.8,356c-8.9,0-16.1-7.2-16.1-16.1c0-8.9,7.2-16.1,16.1-16.1 8.9,0,16.1,7.2,16.1,16.1C251.9,348.8,244.7,356,235.8,356z')
                input#reg-password.password-field.check-password(type='password' name='password' onchange='check()' title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required)
                //- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                span.icon.icon-show
                  svg(viewbox='0 0 512 512')
                    path.path-hide(display='none' d='M316.332,195.662c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.16-4.16,10.944,0,15.083 c12.075,12.075,18.752,28.139,18.752,45.248c0,35.285-28.715,64-64,64c-17.109,0-33.173-6.656-45.248-18.752 c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.139-4.16,10.923,0,15.083c16.085,16.128,37.525,25.003,60.331,25.003 c47.061,0,85.333-38.272,85.333-85.333C341.334,233.187,332.46,211.747,316.332,195.662z M270.87,172.131c-4.843-0.853-9.792-1.472-14.869-1.472c-47.061,0-85.333,38.272-85.333,85.333 c0,5.077,0.619,10.027,1.493,14.869c0.917,5.163,5.419,8.811,10.475,8.811c0.619,0,1.237-0.043,1.877-0.171 c5.781-1.024,9.664-6.571,8.64-12.352c-0.661-3.627-1.152-7.317-1.152-11.157c0-35.285,28.715-64,64-64 c3.84,0,7.531,0.491,11.157,1.131c5.675,1.152,11.328-2.859,12.352-8.64C280.534,178.702,276.652,173.155,270.87,172.131z M509.462,249.102c-2.411-2.859-60.117-70.208-139.712-111.445c-5.163-2.709-11.669-0.661-14.379,4.587 c-2.709,5.227-0.661,11.669,4.587,14.379c61.312,31.744,110.293,81.28,127.04,99.371c-25.429,27.541-125.504,128-230.997,128 c-35.797,0-71.872-8.64-107.264-25.707c-5.248-2.581-11.669-0.341-14.229,4.971c-2.581,5.291-0.341,11.669,4.971,14.229 c38.293,18.496,77.504,27.84,116.523,27.84c131.435,0,248.555-136.619,253.483-142.443 C512.854,258.915,512.833,253.091,509.462,249.102z M325.996,118.947c-24.277-8.171-47.829-12.288-69.995-12.288c-131.435,0-248.555,136.619-253.483,142.443 c-3.115,3.669-3.371,9.003-0.597,12.992c1.472,2.112,36.736,52.181,97.856,92.779c1.813,1.216,3.84,1.792,5.888,1.792 c3.435,0,6.827-1.664,8.875-4.8c3.264-4.885,1.92-11.52-2.987-14.763c-44.885-29.845-75.605-65.877-87.104-80.533 c24.555-26.667,125.291-128.576,231.552-128.576c19.861,0,41.131,3.755,63.189,11.157c5.589,2.005,11.648-1.088,13.504-6.699 C334.572,126.862,331.585,120.825,325.996,118.947z M444.865,67.128c-4.16-4.16-10.923-4.16-15.083,0L67.116,429.795c-4.16,4.16-4.16,10.923,0,15.083 c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.115L444.865,82.211 C449.025,78.051,449.025,71.288,444.865,67.128z')
                    path.path-show(display="block" d='M510.096,249.937c-4.032-5.867-100.928-143.275-254.101-143.275C124.56,106.662,7.44,243.281,2.512,249.105 c-3.349,3.968-3.349,9.792,0,13.781C7.44,268.71,124.56,405.329,255.995,405.329S504.549,268.71,509.477,262.886 C512.571,259.217,512.848,253.905,510.096,249.937z M255.995,383.996c-105.365,0-205.547-100.48-230.997-128 c25.408-27.541,125.483-128,230.997-128c123.285,0,210.304,100.331,231.552,127.424 C463.013,282.065,362.256,383.996,255.995,383.996z M255.995,170.662c-47.061,0-85.333,38.272-85.333,85.333s38.272,85.333,85.333,85.333s85.333-38.272,85.333-85.333 S303.056,170.662,255.995,170.662z M255.995,319.996c-35.285,0-64-28.715-64-64s28.715-64,64-64s64,28.715,64,64 S291.28,319.996,255.995,319.996z')
                br
            .input-wrapper
              label(for='confirm-password') تأكيد كلمة المرور : #[span#confirm-message.confirm-message]
              .input-group
                span.icon
                  svg(viewbox='0 0 385 385')
                    path(d="M273.347,94.381L273.347,94.381L273.347,94.381z")
                    path(d="M381.403,94.381L381.403,94.381L381.403,94.381z")
                    path(d="M273.347,94.381L273.347,94.381C274.538,95.56,275.717,96.727,273.347,94.381z")
                    path(d="M273.347,94.381L273.347,94.381c-4.752-4.704-12.439-4.704-17.191,0L84.278,265.127l-63.544-62.473 c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l72.17,70.967c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239 C278.099,106.7,278.086,99.085,273.347,94.381z")
                    path(d="M273.347,94.381L273.347,94.381C270.977,92.035,272.156,93.202,273.347,94.381z")
                    path(d="M381.403,94.381L381.403,94.381C379.033,92.035,380.224,93.202,381.403,94.381z")
                    path(d="M381.403,94.381L381.403,94.381C382.594,95.56,383.773,96.727,381.403,94.381z")
                    path(d="M381.403,94.381L381.403,94.381c-4.752-4.704-12.439-4.704-17.191,0L192.334,265.127l-15.423-14.352 c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l24.049,22.846c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239 C386.155,106.7,386.155,99.085,381.403,94.381z")

                input#confirm-password.confirm-password(type='password' name='confirm-password' onkeyup='check()' required)
                br
              
            br
            input#reg-submit.btn.btn--primary(type='submit' value='سِجِلّ')
    p#log-register-switch #{message} #[a#a-login تَسْجيل دُخولٍ] / #[a#a-register سِجِلّ]
    //- .loginSocial #[a.btn(href='/auth/facebook') Facebook log!] / #[a.btn(href='/auth/github') Github log!]
    //- include includes/footer.pug
    //- include includes/littleCat.pug
    script(type='application/x-javascript' src="./js/index.js")