html
  head
    title FCC Advanced Node and Express
    meta(name='description', content='A cool thing made with Glitch')
    meta(name="author" content="Esteban Camargo")
    meta(charset='utf-8')
    meta(name="keywords" content="backend pug")

    //- WhatsApp Description
    meta(property="og:title" content="Backend server")
    meta(property="og:description" content="Esteban's backend server in NodeJS, for customizable actions")
    meta(property="og:image" content="https://estebmaister.com.ve/assets/images/profile.png")
    meta(property="og:url" content="https://node-esteb.glitch.me/")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Estebmaister")

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="shortcut icon", href="./public/img/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/public/css/style.css')
    link(rel='stylesheet', href='/public/style.css')

  body
    h1.border.center FCC Advanced Node and Express
    h2.center#pug-success-message
    | Looks like this page is being rendered from Pug into HTML!
    | #{title}
    p#pug-variable= message
    
    
    
    if showLogin
      hr
      p Login Form
      form(action='/login', method='post')
        div
          label Username:
          input(type='text', name='username')
        div
          label Password:
          input(type='password', name='password')
        div
          input(type='submit', value='Log In')
          
    if showRegistration
      hr
      p Registration Form
      form(action='/register', method='post')
        div
          label Username:
          input(type='text', name='username')
        div
          label Password:
          input(type='password', name='password')
        div
          input(type='submit', value='Register')

    script(type='text/javascript' src="./public/js/index.js")