html
	head
		title #{user.username}'s picker
		meta(name='description', content='Pick A Number')
		include includes/head.pug
		link(rel="shortcut icon", href="/img/auth.ico", type="image/x-icon")
		link(rel='stylesheet', type="text/css", href='/css/style.css')
		link(rel='stylesheet', type="text/css", href='/css/pickANumber.css')
	body
		include includes/sidebar.pug
		- var n = 1;
		ul.card-box
			while n < 101
				li.card.white(onclick="this.className+=' disabled'")= n++
		//- Requiring socket.io library
		script(src='/js/socket.io.js')
		script.
			var socket = io();