html
  head
    title #{username}'s profile
    meta(name='description', content='Profile section')
    include includes/head.pug
    link(rel="shortcut icon", href="./img/auth.ico", type="image/x-icon")
    link(rel='stylesheet', type="text/css", href='./css/style.css')
  body
    h1 FCC Advanced Node and Express
    h2#welcome Welcome, #{username}!
    a(href='/logout') Logout