doctype html
html(lang="en-US")
  head
    include includes/head.pug
    link(rel="shortcut icon", href="./img/noauth.ico", type="image/x-icon")
    link(rel='stylesheet', type="text/css", href='./css/style.css')

  body
    h1 Node server Password forgotten
    h2 Message sended to: #{username}
    a(href='./') Back to login page