html
  head
    title #{user.username}'s profile
    meta(name='description', content='Profile section')
    include includes/head.pug
    link(rel="shortcut icon", href="/img/auth.ico", type="image/x-icon")
    link(rel='stylesheet', type="text/css", href='/css/style.css')
  body
    include includes/sidebar.pug
    h1 Survey section!
    include includes/multiForm.pug